body {
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    "JetBrains Mono", "SFMono-Regular", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
